.App {
  text-align: center;
}

.card {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(166,166,166,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(166,166,166,0.3);
  box-shadow: 0px 2px 5px 0px rgba(166,166,166,0.3);
}

.card-body {
  padding: 1em 0.5em;
}

.card-title {
  font-size: 1.5em;
}

.card-title, .card-text {
  text-transform: capitalize;
}

.col-sm {
  max-width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

li {
  display: inline-block;
  padding: 10px
}

li a:hover {
  text-decoration: none;
}

#navPipe {
  color: #dddddd;
}

.jumbotron {
  background-image: url("vejr.jpg");
  background-size: cover;
  color: white;
}

#cityTitle {
  margin-bottom: 10px;
}